#myEventTable {
    display: inline-block;
}

#events {
    border-collapse: collapse;
    border-color: lightgrey;
    align: center;
    margin-left: 1%;
    margin-right: 1%;
}

#newEvent {
    align: center;
    display: inline-block;
}

tr {
    text-align: center;
}

th {
    background: #a8dbff;
    text-align: center;
}

th, td {
    border-collapse: collapse;
    border: 1px solid lightgrey;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}

td.delete_button{
    height: 38px;
}

#name {
    width: 173px;
}

#tableHeader {
    text-align: center;
    font-weight: bold;

}

#formHeader {
    text-align: center;
    font-weight: bold;
}

textarea {
    resize: none;
}

#button-go-to-main-page {
    text-align: right;
    width: 90%;
    right: 80px;
    margin-top: 1%;
    margin-bottom: 1%;

}

#mainTable{
   width: 100%;
    border: none;
}

.mainTableHeader{
    background: none;
}

#userList{
    text-align: left;
}

li[name=user] {
    text-align: left;
}

td[name=myEventTable]{
    vertical-align: super;
}

.table_id {
    display:none;
}