#myEventTable {
    justify-content: center;
    margin-left: 30%;
    width: 500px;
    height: 40px;
}

#events{
    border-style: solid;
    width: 500px;
    height: 40px;
}

#newEvent{
    position: absolute;
    margin-left: 40%;
}

tr,td{
    border: thick black;
}

#name {
    width: 173px;
}

#tableHeader {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#formHeader {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

textarea {
    resize: none;
}