h2 {
    margin-left: 10%;
}
button {
    margin-left: 5%;
    margin-top: 1%;
}
#passenger-trip {
    border-style: solid;
    margin-left: 5%;
    width: 90%;
}
#passenger-trips {
    border: 0;
    width: 50%;
}
#active-trip {
    border-style: solid;
    height: 55%;
    overflow: auto;
    margin-left: 5%;
    width: 90%;
}
#logout {
    position: absolute;
    text-align: right;
    width: 90%;
    right: 80px;
}
#go-my-profile {
    position: absolute;
    text-align: right;
    width: 90%;
    right: 180px;
}
#go-add-event {
    position: absolute;
    text-align: right;
    width: 90%;
    right: 280px;
}
.table_id {
    display:none;
}

.table_buttons{
    text-align: center;
}
