#profile-info td {
    padding: 2%;
    width: 50%;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 70px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
#active-trips-main h2 {
    margin-left: 7%;
    margin-top: 3%;
}
#profile-info-h2 h2 {
    padding-left: 1300px;
    padding-top: 30px;
}
#active-trip {
    border-style: solid;
    height: 55%;
    overflow: auto;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}
#profile-info {
    border: 0;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
    display: inline-block;
}
#my-profile-h1 {
    height: 10%;
    border-bottom: solid #1C91D8 3pt;
    padding-left: 5%;
    padding-top: 1%;
}
#active-trips-main {
    width: 65%;
    height: 90%;
    border-right: solid #1C91D8 3pt;
    float: left;
}
#button-edit {
    margin-left: 3%;
    margin-top: 30px;
}
#button-save {
    margin-left: 2%;
    margin-top: 30px;
}
#button-go-to-main-page {
    position: absolute;
    text-align: right;
    width: 90%;
    right: 80px;
    margin-top: 2%;
}